* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  font-family: 'Edu NSW ACT Foundation', cursive;
  font-size: 1.5rem;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(to right, rgb(64, 152, 224),rgb(55, 216, 136));
  overflow: hidden;/*はみ出た部分を隠す*/
}

nav {
  display: flex;
  width: 75%;
  margin: 20px auto;/*ブロック要素、横幅指定しないときかない*/
  align-items: center;
}

.nav-links {
  flex: 1;
  text-align: right;
}

.nav-links li {
  list-style: none;
}
.nav-links ul li {
  display: inline-block;
  padding: 0 2rem;
}

.nav-links ul a{
  font-weight: 500;
  color: rgb(207, 221, 170);
  text-decoration: none;
  transition: 0.3s;/*hoverしたとき0.3sかけてhoverする*/
}

.nav-links ul a:hover { /*hoverしたとき*/
  color: rgb(130, 177, 76);
}

.vision {
  color: rgb(113, 114, 109);
  transition: 0.3s;
}